<div class="jumbotron">
        <h1>{{ DESCRIP_HEADER }}</h1>
        <div class="lead">
            <a href="http://twitter.com/{{ TWITTER_USERNAME }}"><i class="icon-twitter"></i> Twitter </a><i class="icon-star"></i>
            <a href="{{ INSTAGRAM }}"><i class="icon-camera-retro"></i> Instagram </a><i class="icon-star"></i>
            <a href="{{ URL500PX }}"><i class="icon-camera"></i> 500px </a><i class="icon-star"></i>
            <a href="{{ LINKEDIN_URL }}"><i class="icon-linkedin"></i> LinkedIn </a>
        </div>
</div>
